*{
    margin: 0px;
    padding: 0px;
}
.perform-container{
    width: 350px;
   
    background-color:rgb(52, 143, 150);
    color: antiquewhite;
    margin: 10px;
    padding: 10px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 1px solid bisque;
    position: relative;
}
.routine-title{
    padding: 3px;
    font-size: 26px;
}
.routine-descri{
    padding: 5px;
    margin: 2px;
    font-size: 20px;
}
.routine-priority{
position: absolute;
padding: 4px;
font-size: 18px;
 right: 0;
 top: 0;
 background-color: rgb(32, 180, 220);
 border-radius:  0 10px 0 10px;
}
.routine-delete{
    position: absolute;
    right:7px;
    bottom: 7px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.routine-edit{
    position: absolute;
    right: 60px;
    bottom: 5px;
    background-color: aliceblue;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;

}

@media screen and (max-width:600px) {
    .perform-container{
        width: 320px;
        padding: 10px;
    }
    .routine-descri{
        font-size: 16px;
    }
    .routine-priority{
        font-size: 18px;
    }
    .routine-delete{
        padding: 4px;
    }
    .routine-edit{
        padding: 3px;
    }
    .routine-title{
        font-size: 20px;
    }
}