*{
    font-family: cursive;
}
.main-head{
    text-align: center;
    background-color: rgb(128, 194, 196);
    color: aliceblue;
    padding: 10px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   background-color: rgb(214, 133, 133);
   background-image: url(../../images/back3.jpg);
   background-size:  100% 100%;
   background-repeat: no-repeat;
   height: 100vh;
}
.sec-head{
    color: rgb(52, 143, 150);;
   text-align: center;
   font-size: 28px;
   
    
    
}
.div-center{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    width: 100px;
    border-radius: 10px;
}
.priority-input{
    
    padding: 10px;
    width: 250px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;

}
.prio-btn{
    width: 140px;
    display: block;
    margin:  0 auto;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(118, 191, 194);
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}
.showcontainer{

   
    height: 480px;
    padding: 15px;
    overflow-y: scroll;
    border-radius: 9px;
}
.showcontainer::-webkit-scrollbar{
    width: 2px;
}
@media screen and (max-width:600px) {
    .main-container{
        height: 100%;
    }
    .main-head{
        padding: 3px;
        font-size: 28px;
    }
    .sec-head{
        font-size: 21px;
    }
    .showcontainer{
        height: 250px;
    }
    .priority-input{
        padding: 5px;
    }
    .prio-btn{
        padding: 6px;
        font-size: 18px;
        width: 100px;
        margin-top: 2px;
        margin-bottom: 80px;
    }
}