
.main-head{
    text-align: center;
    background-color: cadetblue;
    color: aliceblue;
    padding: 10px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   background-color: rgb(214, 133, 133);
   height: 100vh;
}
.sec-head{
    color: antiquewhite;
}
.priority-input{
    padding: 13px;
    width: 250px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;

}
.prio-btn{
    width: 140px;
    display: block;
    margin:  0 auto;
    padding: 7px;
    border-radius: 10px;
    background-color: cadetblue;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
}